@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}


nav{
    max-width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px 2px #ccc;
    min-height: 70px;
    padding: 0 30px;
}

nav img{
    width: 200px;
    position: absolute;
    top: 5px;
    left: 5%;
    
}

nav button{
    padding: 10px 15px ;
    font-size: 16px;
    background-color: rgb(248, 53, 53);
    border: none;
    border-radius: 100px;
}

nav button a{
    text-decoration: none;
    color: black;
}

nav button:hover{
    background-color: red;
}

main{
    width: 100%;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    width: 350px;
    height: 350px;
    border-radius: 100px;
    margin-top: 120px;
}

form input{
    border: none;
    border-radius: 80px;
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 18px;
    
}

form h2{
    font-weight: bold;
    text-transform: uppercase;
}

.box-buttons{
    display: flex;
    margin-top: 10px;
}

.box-buttons button{
    border: none;
    border-radius: 80px;
    padding: 5px 15px;
    font-size: 18px;
}

.primeiroLogin{
    border: none;
    border-radius: 80px;
    padding: 5px 15px;
    font-size: 18px;
    background-color: orange;
}

.primeiroLogin:hover{
    background-color: orangered;
}


.loginButton{
    background-color: greenyellow;
}
.loginButton:hover{
    background-color: green;
}

.registerButton{
    background-color: rgb(253, 82, 82);
}

.registerButton a{
    text-decoration: none;
    color: black;
}

.registerButton:hover{
    background-color: red;
}
