@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}


.home{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}


.list-mod{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.create-mod{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.list-mod h2{
    font-weight: bold;
    text-transform: uppercase;
}

.create-mod h2{
    font-weight: bold;
    text-transform: uppercase;
}

.table-responsive-sm{
    max-width: 800px;
    text-align: center;
    overflow-y: auto;
    margin: 0 auto;
}



.buttons-table {
    display: flex;
    flex-direction: row;
   align-items: center;
}

.buttons-table button {
    border: none;
    border-radius: 100px;
    padding: 5px 10px;
}


.addModalidade {
    background-color: greenyellow;
    margin-right: 10px;
}

.addModalidade:hover {
    background-color: green;
}

.delModalidade  {
    background-color: rgba(245, 71, 71, 0.911);
    margin-left: 10px;
}

.delModalidade:hover {
    background-color: red;
}

.atualizarModalidade {
    background-color: yellow;
}

.atualizarModalidade:hover {
    background-color: rgb(202, 202, 29);
}

.areaAddModalidade{
    flex-direction: column;
    margin-top: 20px;
    display: none;
}

.areaUpdateModalidade{
    flex-direction: column;
    margin-top: 20px;
    display: none;
}

.areaDeletarModalidade{
    flex-direction: column;
    margin-top: 20px;
    display: none;
}

.submitAddModalidade {
    border: none;
    border-radius: 100px;
    padding: 5px 15px;
    background-color: greenyellow;
}

.submitAddModalidade:hover {
    background-color: green;
}

#DeletarModalidadeForm div{
    display: flex;
    flex-direction: column;
}

.submitDeletar {
    border: none;
    border-radius: 100px;
    padding: 5px 15px;
    background-color: rgba(245, 71, 71, 0.911);
}

.submitDeletar:hover {
    background-color: red;

}

.submitUpdate{
    border: none;
    border-radius: 100px;
    padding: 5px 15px;
    background-color: rgb(243, 243, 9);
}

.submitUpdate:hover{
    background-color: rgb(202, 202, 29);
}


@media (max-width:990px){
    .home{
        flex-direction: column;
    }
    .table-responsive-sm{
        max-width: 400px;
    }
}