.menuAluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

}

.menuAluno button {
    background-color: greenyellow;
    padding: 5px 10px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.menuAluno button a {
    text-decoration: none;
    color: black;

}

.menuAluno button:hover {
    background-color: green;
}

.menuAluno h2 {
    text-transform: uppercase;
    font-weight: bold;
}


.divsAluno {
    display: flex;
    align-items: start;
    justify-content: center;


}

.divStyle {
    box-shadow: 3px 3px 3px 3px #ccc;
    padding: 5px 15px;
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#planosVinculados h3 {
    margin: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.datas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.status {
    display: flex;
    align-items: center;
}


@media (max-width:990px) {

    .divsAluno {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .datas {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}