@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    background-color: #ccc;
    max-width: 90%;
    padding: 10px 20px;
    border-radius: 100px;
    height: auto;
}

form input{
    border: none;
    border-radius: 100px;
    font-size: 16px;
    padding: 10px 10px;
    max-width: 200px;
    background-color: white;
}

form select{
    border: none;
    border-radius: 100px;
    font-size: 16px;
    width: 200px;
    padding: 10px 10px;
}

form h2{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}



.dados_pessoais{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10px;
}

.endereço{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10px;
}

.planos{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 10px;

}

.planos div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.validade{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.observacoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.div{
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.enviarRegister{
    border: none;
    border-radius: 80px;
    padding: 5px 15px;
    font-size: 22px;
    margin-top: 15px;
    background-color: greenyellow;
}


.enviarRegister:hover{
    background-color: green;
}

.desktop-textarea{
    width: 100%;
    height: 200px; /* ou qualquer outra altura desejada */
    resize: vertical; /* permite redimensionamento vertical */
    box-sizing: border-box; /* inclui padding e border na largura total */
}

.mobile-textarea{
    display: none;
}




@media (max-width:990px) {
    .dados_pessoais{
        grid-template-columns: repeat(2,1fr);
    }
    .endereço{
        grid-template-columns: repeat(2,1fr);
    }
    .validade{
        display: flex;
        flex-direction: column;
    }

    form input{
        max-width: 150px;
    }

    form select{
        max-width: 150px;
    }


    .mobile-textarea{
        display: flex;
    }
}